.todoitem.editing div {
  display: none;
}

.todoitem.editing input[type="text"] {
  display: inline-block;
}

.todoitem div {
  display: block;
}

.todoitem input[type="text"] {
  display: none;
}

ul {
  list-style: none;
}
